<!-- Top navigation start -->
<nav class="navigation">
    <div class="container">

        <!-- Right side of the navigation -->
        <div class="navigation-left-side">
            <div class="logo-left-container">
                 <img class="logo-left" src="./assets/img/zeppelin-main-logo.png" alt="" />
            </div>
            <div class="logo-right-container">
                <img class="logo-right" src="./assets/img/logo-cat.png" alt="" />
            </div>
            <ul class="menu">
                <li class="menu-item"><a class="menu-link" href="#">Minibagger</a></li>
                <li class="menu-item"><a class="menu-link" href="#">Walze</a></li>
                <li class="menu-item"><a class="menu-link" href="#">Tankanlagen</a></li>
                <li class="menu-item"><a class="menu-link" href="#">Kehrmaschinen</a></li>
                <li class="menu-item"><a class="menu-link" href="#">Zubehör</a></li>
            </ul>
        </div>

        <!-- Left side of the navigation -->
        <div class="navigation-right-side">
            <i class="icon basket-icon">
                <span class="basket-item-count">1</span>
            </i>
            <i class="icon user-icon"></i>
        </div>
    </div>
</nav>
<!-- Top navigation end -->
