<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="assets/app.css">
</head>
<body>
    <!-- Include Navbar -->
    <% include src/partials/navbar.ejs %>
    <!-- Body content start -->
    <div class="container">
        <div>
            <h2>Main section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sapiente velit rerum minus autem illo cupiditate, corrupti sequi similique nesciunt? Molestiae error est officia? Deleniti dolore amet animi saepe dignissimos!</p>
        </div>
    </div>
    <!-- Body content end -->
</body>
</html>
